@import "../abstract/mixin";
@import "../abstract/variable";

nav{
    @include centerMe;
    background-color: $componentBgColor;
    color: white;
    height: 8rem;
    .nav_here{
        display: flex;
        justify-content: space-between;
        width: 86%;
        .logo_container{
            width: 25%;
            .logo_here{
                font-size: 4rem;
                span{
                    color: $primaryColor;
                }
            }
        }
        .nav_search{
            width: 50%;
            display: flex;
            align-items: center;
            padding-left: 5%;
            form{
                width: 80%;
                border-bottom: 0.1rem solid white;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                .search_icon{
                    font-size: 1.5rem;
                    margin-right: 0.8rem;
                    display: inline-block;
                    margin-top: 0.5rem;
                }
                input{       
                    border: none;
                    outline: none; 
                    background-color: rgba(0,0,0,0);
                    width: 80%;
                    color: white;
                }
                ::-webkit-input-placeholder{
                    color: #999;
                }
            }
        }
        .nav_back{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            .nav_back_child{
                @include centerMe;
                &:first-child{
                    margin-right: 2rem;
                }
                a{
                    color: white;
                    font-size: 1.4rem;  
                    position: relative;
                    span{
                        display: inline-block;
                        position: absolute;
                        background-color: $primaryColor;
                        padding: 0 0.3rem;
                        border-radius: 50%;
                        font-size: 1rem;
                        top: -0.5rem;
                        left: 1rem;
                    }  
                }
            }
        }
    }
    
}